body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: #273345
}
.App {

    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
    background: #222;

    font-family: 'Courier New', serif;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/bg_gray.png')

}

.App .page {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    text-transform: uppercase;

}

.imageTitle {
    width: 70%;
    max-width: 750;
    margin: 0 auto;
    text-align: center;
}

.topic-wrapper {
    background: rgba(250, 250, 250, 0.5);
    color: black;
    height: 70%;
    width: 40%;
    padding: 20px 20px 20px 20px;
    vertical-align: middle;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.separator-container {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.top-left {
    position: absolute;
    top: 3%;
    left: 25%;
}

.bottom-right {
    position: absolute;
    bottom: 3.5%;
    right: 23%;
}

.intro-text {
    font-size: 8pt;
    color: #000;
    margin-bottom: 20;
    text-align: center
}

.brides-name {
    font-size: 14pt;
    margin-bottom: 0,;
    color: #c79931;
    font-family: 'EB Garamond'
}

.parent-name {
    color: #000;
    font-size: 10pt;
    margin-top: 5
}

.and {
    color:#888;
    font-size: 10pt;
    text-align: center;
    margin-top: 20pt;
    margin-bottom: 20pt;
    font-family: 'Great Vibes', cursive;
}

.slider {
    position: absolute;
    top: 25%;
    left: 0px;
}

.App .page h2 span:first-of-type {
    font-weight: 100;
    color: rgba(0, 0, 0, .5);
}

.App .page h2 span:last-of-type {
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.App .cover {
    background: #323232;
}

.App .orange {
    background: #FF8C00;
}

.App .yellow {
    background: #FFD700;
}

.App .green {
    background: #6B8E23;
}

.App .blue {
    background: #4682B4;
}

.App .purple {
    background: #9932CC;
}

.App .controls,
.App .pagination {

    position: absolute;

    padding: 1vw;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .25);

}

.App .controls {
    top: 1vw;
    right: 1vw;
}

.App .controls h3 {
    font-size: 16px;
    margin: 0 0 10px;
}

.App .pagination {
    bottom: 1vw;
    left: 1vw;
}

@media (max-width: 768px) {

    .App .page {
        font-size: 22px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 50px;
        text-transform: uppercase;
    }

    .App .controls {
        top: 2vw;
        right: 2vw;
        padding: 2vw;
    }

    .App .controls h3 {
        margin: 0 0 5px;
    }
    
    .topic-wrapper {
        background: rgba(255, 255, 255, 0.5);
        color: black;
        height: 80%;
        width: 70%;
        padding: 20px 20px 20px 20px;
        vertical-align: middle;

        display: flex;
        align-items: center;
        justify-content: center;

        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

    .top-left {
        position: absolute;
        height: 100pt;
        width: 100pt;
        top: 0pt;
        left: 0pt;
    }
    
    .bottom-right {
        position: absolute;
        height: 100pt;
        width: 100pt;
        bottom: 5pt;
        right: 0pt;
    }

    .intro-text {
        font-size: 6pt;
        color: #000;
        text-align: center
    }

    .brides-name {
        font-size: 12pt;
        margin-bottom: 0pt;
        color: #c79931;
        font-family: 'EB Garamond'
    }
    
    .parent-name {
        color: #000;
        font-size: 8pt;
        margin-top: 5pt
    }

}

/* Override transition. */
/*
.ReactSnapScroll .akasaka-forward-enter {
    transform: translateX(100%);
}

.ReactSnapScroll .akasaka-reverse-enter {
    transform: translateX(-100%);
}

.ReactSnapScroll .akasaka-forward-enter-active,
.ReactSnapScroll .akasaka-reverse-enter-active {
    transition: transform 1000ms ease-in-out;
    transform: translateX(0);
}

.ReactSnapScroll .akasaka-forward-exit,
.ReactSnapScroll .akasaka-reverse-exit {
    transform: translateX(0);
}

.ReactSnapScroll .akasaka-forward-exit-active {
    transition: transform 1000ms ease-in-out;
    transform: translateX(-100%);
}

.ReactSnapScroll .akasaka-reverse-exit-active {
    transition: transform 1000ms ease-in-out;
    transform: translateX(100%);
}
*/
